.form-group {
    margin-bottom: 17px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
    font-weight: 500;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  